{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "./locationStatusTag.njk" import locationStatusTag %}
{% from "../partials/simplePagination/macro.njk" import simplePagination %}

{% macro locationsTable (locations, pagingData) %}

<h2 class="govuk-heading-m govuk-!-margin-bottom-3" data-qa="locations-table-caption">{{ locationType }}</h2>

  {% if locations | length %}
    {% set rows = [] %}

    {% for item in locations %}

      {% set rows = (rows.push(
        [
          { html: item.localName },
          { html: locationStatusTag(item) },
          { html: usageTypes(item.usedByGroupedServices) },
          { html: editLink(item.id) }
        ]
      ), rows) %}
    {% endfor %}
    {{ simplePagination(pagingData) }}
    {{ govukTable({
      attributes: {
        "data-qa": "locations-table",
        "id": "locations-table"
      },
      firstCellIsHeader: false,
      head: [
        { text: "Location" },
        { text: "Status" },
        { text: "Services that use non-resi locations" },
        { text: "Actions" }
      ],
      rows: rows
    }) }}
  {% endif %}
  {{ simplePagination(pagingData) }}
{% endmacro %}

{% macro usageTypes(items) %}
  <ul class="govuk-list govuk-list--bullet">
  {% for item in items %}
    <li>{{ item | usageLabel }}</li>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro editLink(locationId) %}
    <a href='/location/{{ locationId }}/edit'>Edit</a>
{% endmacro %}
