{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "./locationStatusTag.njk" import locationStatusTag %}
{% from "../partials/simplePagination/macro.njk" import simplePagination %}

{% macro locationsTable (locations, pagingData, usageTypesData, canEdit) %}

<h2 class="govuk-heading-m govuk-!-margin-bottom-3" data-qa="locations-table-caption">{{ locationType }}</h2>

  {% if locations | length %}
    {% set rows = [] %}

    {% for item in locations %}
      {% if canEdit %}
        {% set rows = (rows.push(
          [
            { html: item.localName },
            { html: locationStatusTag(item) },
            { html: usageTypes(item.usedByGroupedServices, usageTypesData) },
            { html: editLink(item) }
          ]
        ), rows) %}
      {% else %}
        {% set rows = (rows.push(
          [
            { html: item.localName },
            { html: locationStatusTag(item) },
            { html: usageTypes(item.usedByGroupedServices, usageTypesData) }
          ]
        ), rows) %}
      {% endif %}
    {% endfor %}
    {{ simplePagination(pagingData) }}

    {% set tableHead = [
      { text: "Location", classes: "govuk-!-width-one-third" },
      { text: "Status" },
      { text: "Services that use non-resi locations" }
    ] %}
    {% if canEdit %}
      {% set tableHead = tableHead.concat([{ text: "Actions" }]) %}
    {% endif %}

    {{ govukTable({
      attributes: {
        "data-qa": "locations-table",
        "id": "locations-table"
      },
      firstCellIsHeader: false,
      head: tableHead,
      rows: rows
    }) }}
  {% endif %}
  {{ simplePagination(pagingData) }}
{% endmacro %}

{% macro usageTypes(items, usageTypesData) %}
  <ul class="govuk-list govuk-list--bullet">
  {% for item in items %}
    {% set label = item %}
    {% for usageType in usageTypesData %}
      {% if usageType.key == item %}
        {% set label = usageType.description %}
      {% endif %}
    {% endfor %}
    <li>{{ label }}</li>
  {% endfor %}
  </ul>
{% endmacro %}

{% macro editLink(item) %}
    {% if item.status === 'ARCHIVED' %}
        No available actions
    {% else %}
        <a href='/location/{{ item.id }}/edit'>Change</a> | <a href='/location/{{ item.id }}/archive'>Archive</a>
    {% endif %}
{% endmacro %}
