{% extends "govuk/template.njk" %}

{% from "../macros/breadcrumb.njk" import breadcrumb %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    {{ breadcrumb(heading, breadcrumbs) }}
  </div>
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{% endblock %}
