{% extends "../../partials/formStep.njk" %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}


{% block content %}
  <div class="govuk-width-container">
  {{ mojPageHeaderActions({
    heading: {
      text: "Change " + locationDetails.localName
    },
    items: [{
      text: "Archive",
      classes: "govuk-button--warning",
      preventDoubleClick: true,
      href: "/location/" + locationDetails.id + "/archive"
    }]
  }) }}
</div>

{{ super() }}
{% endblock %}
