{% extends "../../partials/formStep.njk" %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}


{% block content %}
  <div class="govuk-width-container">
  {{ mojPageHeaderActions({
    heading: {
      text: "Check your answers"
    }
  }) }}
</div>

{{ super() }}
{% endblock %}
