{% extends "../../partials/formStep.njk" %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{% set pageTitle = 'Add a non-residential location - Non-residential locations' %}


{% block content %}
  <div class="govuk-width-container">
  {{ mojPageHeaderActions({
    heading: {
      text: "Add a non-residential location"
    }
  }) }}
</div>

{{ super() }}
{% endblock %}
