{% extends "../partials/layout.njk" %}

{% from "../macros/locationsTable.njk" import locationsTable %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1>{{ title }}</h1>
  <div class="govuk-width-container">

    {% if canEdit %}
      <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-6" href="/add-location" role="button" data-qa="add-location-button">Add a non-residential location</a>
    {% endif %}

    {{ locationsTable(locations.content, paginationLocals, serviceFamilyTypes, canEdit) }}
  </div>
{% endblock %}
