{% extends "../partials/layout.njk" %}

{% from "../macros/locationsTable.njk" import locationsTable %}


{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>View non-residential locations</h1>

  <div class="govuk-width-container">
    {{ locationsTable(locations) }}
  </div>
{% endblock %}
